/* .shape {
  height: 50px;
  width: 200px;
  border-bottom: 2px solid red;
  border-right: 2px solid red;
  -moz-transform: skew(-45deg);
  -webkit-transform: skew(-45deg);
  transform: skew(-45deg);
} */

.navbar{
  margin: 10px 20px 0px 20px;}
.logo{
  color: #dcca87;
  font-family: 'Cormorant', serif;
  font-family: 'Cormorant Upright', serif;
  font-size: 60px;
  text-align: center;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.nav-links a{
  text-decoration: none;
}
.contact-icon{
  color: #dcca87;
  cursor: pointer;
}
.close-btn{
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.github-icon {
  color: #dcca87;
}
.linkedin-icon {
  color: #dcca87;
}
.contact-details{
  background-color: #dcca87;
  position: absolute;
  z-index: 1;
  height: 150px;
  width: 300px;
  border-radius: 10px;
  top: 170px;
  left: 20px;
}
hr {
  background-color:#dcca87;
  border: none;
  height: 2px;
}
.portfolio-body {
  margin: 20px 30px 20px 30px;
}
.greeting{
  color: #dcca87;
  /* font-family: 'Cormorant', serif; */
  /* font-family: 'Cormorant Upright', serif; */
  font-size: 50px;
  line-height: 0.1;
}
.intro{
  color: white;
  font-size: 25px;
}
.project-title{
  color: white;
  font-size: 50px;
  font-weight: 500;
  line-height: 0.1;
}
.projects a{
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.projects  {
  margin-left: 10px;
  line-height: 1.2;
}
.footer{
  color: white;
  text-align: center;
  margin-bottom: 10px;
}