/* .shape {
  height: 50px;
  width: 200px;
  border-bottom: 2px solid red;
  border-right: 2px solid red;
  -moz-transform: skew(-45deg);
  -webkit-transform: skew(-45deg);
  transform: skew(-45deg);
} */

.navbar{
  margin: 10px 20px 0px 20px;}
.logo{
  color: #dcca87;
  font-family: 'Cormorant', serif;
  font-family: 'Cormorant Upright', serif;
  font-size: 60px;
  text-align: center;
}
.nav-links{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.nav-links a{
  text-decoration: none;
}
.contact-icon{
  color: #dcca87;
  cursor: pointer;
}
.close-btn{
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.github-icon {
  color: #dcca87;
}
.linkedin-icon {
  color: #dcca87;
}
.contact-details{
  background-color: #dcca87;
  position: absolute;
  z-index: 1;
  height: 150px;
  width: 350px;
  border-radius: 10px;
  top: 170px;
  right: 20px;
}
.contact-details-container {
  padding-top: 20px;
  margin-left: 10px;
}
.contact-details-container p {
  font-size: 16px;
}

.copy-btn{
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.check-btn{
  color: rgb(28, 105, 51);
  border: none;
  background-color: inherit;
}
.toast-container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: 1;
}
.toast{
  text-align: center;
  width: 250px;
  color: white;
  border-radius: 5px;
  padding-top: 10px;
  height: 50px;
  background-color: rgb(28, 105, 51);
}
hr {
  background-color:#dcca87;
  border: none;
  height: 2px;
}
.portfolio-body {
  margin: 20px 30px 20px 30px;
}
.greeting{
  color: #dcca87;
  font-size: 50px;
  line-height: 0.1;
}
.intro{
  color: white;
  font-size: 25px;
}
.project-title{
  color: white;
  font-size: 40px;
  font-weight: 500;
  line-height: 0.1;
}
.projects a{
  color: white;
  text-decoration: none;
  font-size: 20px;
}
.projects  {
  margin-left: 10px;
  line-height: 1.2;
}
.project-hr{
  display: none;
}
.footer{
  color: white;
  text-align: center;
}
.footer-container{
  margin: 0 20px 10px 20px;
}
@media screen and (max-width: 390px) {
  .contact-details {
      width: 300px;
    }
  .contact-details-container p {
      font-size: 15px;
  }
  
}
@media screen and (min-width: 1025px) {
  .logo-links-container{
    display: flex;
    justify-content: space-between;
  }
  .nav-links{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    column-gap: 25px;
    margin-top: 30px;
    margin-right: 30px;
  }
  .contact-details {
    top: 100px;
  }
  .body-hr{
    display: none;
  }
  .portfolio-body{
    padding: 0 100px 0 0px;
    padding-top: 50px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
  }
  .greeting{
    font-size: 70px;
    font-weight: 100;
  }
  .intro{
    font-size: 17px;
    padding-right: 100px;
  }
  .project-title{
    font-weight: 100;
    font-size: 30px;
    padding-top: 20px;
  }
  .projects p a{
    font-size: 16px;
  }
  .project-hr{
    width: 120px;
    margin-left: 0px;
    display: block;
  }
  .footer-container{
    padding-top: 100px;
  }
  .footer-hr{
    display: none;
  }
}
@media screen and (min-width: 1025px) {
  .portfolio-body {
      margin: 0 -100px 0 100px;
  }
}