
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

:root {
  --backgroundColor: #0c0c0c;
  --bodyFont: 'Cabin', Sans-Serif;
}

body {
  margin: 0;
  background: var(--backgroundColor);
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
}
